.modal {
  width: 100%;
  position: absolute;
  top: 0;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: none; /* Default hidden */
}

.modal.hidden {
  display: none; /* Ensures hidden class works */
}

.modal-content {
  width: 70%;
  background-color: white;
  display: flex;
  margin: 10% auto;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
}

.modal-header {
  display: flex;
  background-color: green;
  color: white;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.modal-body {
  text-align: center;
  padding: 10px;
}
